.container {
    text-align: center;
    margin-top: 25px;
}

table {
    margin: auto;
    padding: 10px;
}

input {
    border-radius: 15px;
    font-size: 29px;
    padding: 10px;
    border: 5px solid #ff7f47;
    background-color: rgb(195, 197, 184);
}

button {
    font-size: 25px;
    width: 95px;
    height: 75px;
    padding: 10px;
    background-color: rgb(243, 180, 99);
    border: 3px solid #ff7f47;
    border-radius: 40px;
}

.calculator {
    display: inline-block;
    background-color: rgb(40, 40, 40);
    padding: 20px;
    border-radius: 40px;
}